


        
    <section class="mt-50 mb-50">
        <div class="container">
           
           
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-25">
                        <h4>Add Address </h4>
                    </div>
                    <form  action="/profile_add_address"  method="post">
                        <div class="form-group">
                            <input type="text" required="" name="fname" placeholder="First name *">
                        </div>
                        <div class="form-group">
                            <input type="text" required="" name="lname" placeholder="Last name *">
                        </div>
                        <div class="form-group">
                            <input required="" type="text" name="street" placeholder="Street Name">
                        </div>
                        
                        <div class="form-group">
                            <input type="text" name="apartment" required="" placeholder="Apartment *">
                        </div>
                        <div class="form-group">
                            <input type="text" name="city" required="" placeholder="City">
                        </div>
                        <div class="form-group">
                            <input required="" type="text" name="state" placeholder="State">
                        </div>
                        <div class="form-group">
                            <input required="" type="text" name="pincode" placeholder="Pincode">
                        </div>
                        <div class="form-group">
                            <input required="" type="text" name="mobile" placeholder="Mobile">
                        </div>
                        <div class="form-group">
                            <input required="" type="text" name="email" placeholder="email">
                        </div>
                        <button type="submit" class="btn btn-dark">Continue</button>
                      </form>
                      
                   
                </div>
              
            </div>
        </div>
    </section>





